{% extends 'partials/common.jinja' %}
{% block styles %}
   <!-- build:css(.tmp) /styles/sidebar.css -->
   <link rel="stylesheet" href="/styles/common_with_sidebar.css">
   <!-- endbuild -->
{% endblock %}
{% block main_content %}

  <div class="main-container clearfix">
      <aside class="extras">
	<nav id="sidebar" data-spy="affix" data-offset-top="0" data-offset-bottom="230">
	  <div class="title">
	    {% block sidebar_title %}
	    {% endblock %}
	  </div>
	  <div class="content">
	    {% block sidebar_content %}
	    {% endblock %}
	  </div>
	</nav>
      </aside>
      <article class="main">
	<div class="inner content">
	{% block content %}
	{% endblock %}
	</div>
      </article>
      <aside class="right-sidebar">
      </aside>
  </div><!---/container -->

{% endblock %}
{% block scripts %}
<!-- build:js({app,.tmp}) /scripts/hash.js -->
<script type="text/javascript" src="/scripts/hash.js"></script>
<!-- endbuild -->
<!-- build:js({app,.tmp}) /scripts/sidebar.js -->
<script type="text/javascript" src="/scripts/sidebar/throttle.js"></script>
<script type="text/javascript" src="/scripts/sidebar/sidebar.js"></script>
<!-- endbuild -->

{% endblock %}
