{% extends 'partials/common_with_sidebar.jinja' %}
{% block title %}
  OpenCMISS Documentation
{% endblock %}
{% block sidebar_title %} <h1>Documentation for...</h1> {% endblock %}
{% block sidebar_content %}
<ul>
	<li><a href="#introduction">Introduction</a></li>
	<li><a href="#tutorials">Tutorials</a></li>
	<li><a href="#examples">Examples</a></li>
	<li><a href="#technical">Technical Documentation</a></li>
	<li><a href="#publications">Publications</a></li>
	<li><a href="#developers">Developers Documentation</a></li>
</ul>
{% endblock %}
{% block content %}
<h1>Documentation</h1>
<p>Documentation on using OpenCMISS software packages to model and visualise.</p>

<section class="doc-links" id="introduction">
	<h2>Introduction</h2>
	<p>A C/C++ library providing a rich, dynamic model representation in its API, incorporating images and image processing, high quality 3-D visualisation, interactive tools and more.</p>
	<div class="links-wrapper row">
		<div class="col-sm-3">
			<h3>For Users</h3>
			<ul class="list-unstyled">
				<li><a href="ftp://ftp.bioeng.auckland.ac.nz/cmiss/zinclibrary/release/Introduction%20to%20OpenCMISS-Zinc%20v3.0.pdf">Introduction (PDF) </a></li>
				<li><a href="http://cmiss.sourceforge.net/" target="_blank">C++ API Reference</a></li>
				<li><a href="#">Community Support</a></li>
			</ul>
			<h3>For Contributors</h3>
			<ul class="list-unstyled">
				<li><a href="#">Notes for Contributor </a></li>
				<li><a href="#">Contact Maintainers</a></li>
			</ul>

		</div>
		<div class="col-sm-9">
			<h3>Tutorials</h3>
			<p class="notice"><em>Coming soon.</em></p>
		</div>
	</div>
</section>
<section class="row doc-links" id="tutorials">
	<h2>Tutorials</h2>
	<p>Tutorials that introduce OpenCMISS ideas and help you get things done. <a href="/documentation/tutorials/index.html">See all tutorials...</a>
</p>
<div class="links-wrapper">
		<div class="col-sm-4">
			<h3 class="styled">Beginners</h3>
			<ol class="list-unstyled">
				<li class="media-item">
					<a href="/documentation/tutorials/getting_started/getting-started.html">
						<div class="description">
							<p class="name">Getting Started Guide</p>
							<p>Guide to getting started.</p>
						</div>
					</a>
				</li>
				<li class="media-item">
					<a href="/documentation/tutorials/axis_viewer/tutorial.html">
						<!-- <img src="/assets/documentation/axis_viewer.png" alt="Image for Axis Viewer."> -->
						<div class="description"><p class="name">Axis Viewer</p>
						<p> A very simple Zinc application.</p></div>
					</a>
				</li>
				<li class="media-item">
					<a href="/documentation/tutorials/finite_element_creation/tutorial.html">
						<!-- <img src="/assets/documentation/finite_element_creation.png"> -->
						<div class="description"><p class="name">Finite Element Creation</p>
						<p>Covers how to create a 2D finite element and visualise it.</p></div>
					</a>
				</li>
			</ol>
		</div>
		<div class="col-sm-4">
			<h3 class="styled">Moderate</h3>
			<ol class="list-unstyled">
				<li class="media-item">
					<a href="/documentation/tutorials/image_reader/tutorial.html">
						<!-- <img src="/assets/documentation/drawing.png"> -->
						<div class="description"><p class="name">Image Reader</p>
							<p>Covers how to read an image into an image field.</p></div>
					</a>
				</li>
				<li class="media-item">
					<a href="/documentation/tutorials/materials/tutorial.html">
						<!-- <img src="/assets/documentation/materials.png"> -->
						<div class="description">
							<p class="name">Materials</p>
							<p>Covers how graphic materials can be used to add a bit of colour to our mesh.</p>
						</div>
					</a>
				</li>
			</ol>
		</div>
		<div class="col-sm-4">
			<h3 class="styled">Advanced</h3>
			<ol class="list-unstyled">
				<li class="media-item">
					<a href="/documentation/tutorials/read_mesh/tutorial.html">
					<!-- <img src="/assets/documentation/read_mesh.png"> -->
					<div class="description"><p class="name">Read and View a Mesh</p>
						<p>Covers loading a deforming heart model and allows you to vary time with a slider to animate its deformation.</p></div>
					</a>
				</li>
				<li class="media-item">
					<a href="/documentation/tutorials/selection/tutorial.html">
						<div class="description"><p class="name">Selection</p>
							<p>Covers one way in which selection could be implemented for a Zinc application.</p></div>
					</a>
				</li>

			</ol>
		</div>
</div>
<div class="see-more">
	<a class="btn btn-default" href="/documentation/tutorials/index.html"> See all tutorials... <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
</div>
</section>
<section class="row doc-links" id="examples">
	<h2>Examples</h2>
	<p>Scripts that solve a particular problem, contributed by developers and users of OpenCMISS.</p>

			<ul class="list-unstyled">
				<li class="media-item">
					<a href="http://cmiss.bioeng.auckland.ac.nz/development/examples/a/index_thumbs.html">
					<img src="/assets/documentation/cmgui-example.png">
					<div class="description">
						<p class="name">Cmgui Examples</p>
						<p>A good way to learn OpenCMISS is to copy examples that perform a similar task to what is needed. These examples were created for Cmgui, a predecessor to OpenCMISS-Zinc.</p>
					</div>
					</a>
				</li>
				<li class="media-item">
						<img src="/assets/documentation/physiomemodeller.png">
					<div class="description">
						<p><span class="title">Gallery</span> (<em>Coming soon</em>)</p>
						<p>See applications created with OpenCMISS-Zinc.</p>
					</div>
				</li>
			</ul>

</section>
<section class="row doc-links" id="technical">
	<h2>Technical Documentation</h2>
	<p>Documentation about the technical aspects of OpenCMISS software and libraries. <a href="/documentation/tutorials/index.html">See all technical documentation...</a></p>
	<div class="links-wrapper">
		<div class="col-sm-4">
			<h3 class="styled">API Reference</h3>
			<ol class="list-unstyled">
				<li class="media-item">
					<a href="/other/zinc-apidoc-latest/index.html">
						<div class="description"><p class="name">Zinc API Reference</p>
							<p>User documentation of the Zinc library interface.</p>
						</div>
					</a>
				</li>
				<li class="media-item">
					<a href="/other/iron-apidoc-latest/user/index.html">
						<div class="description"><p class="name">Iron API Reference</p>
							<p>User documentation of the Iron library interface.</p>
						</div>
					</a>
				</li>
				<li class="media-item">
					<a href="/other/iron-apidoc-latest/python/index.html">
						<div class="description"><p class="name">Iron Python Bindings API Reference</p>
							<p>User documentation of the Iron Python bindings interface.</p>
						</div>
					</a>
				</li>
			</ol>
		</div>
		<div class="col-sm-4">
			<h3 class="styled">Theory</h3>
			<ol class="list-unstyled">
				<li class="media-item">
					<a href="#">
						<div class="description"><p class="name">Finite Element Mesh Notes</p>
							<p>Theory notes on Finite Element Mesh (FEM.)</p>
						</div>
					</a>
				</li>
			</ol>
		</div>
		<div class="col-sm-4">
			<h3 class="styled">Working with Other Programs</h3>
			<ol class="list-unstyled">
				<li class="media-item">
					<a href="#">
						<div class="description"><p class="name">Interchange Formats</p>
							<p>Formats that OpenCMISS reads and writes.</p>
						</div>
					</a>
				</li>
				<li class="media-item">
					<a href="#">
						<div class="description"><p class="name">Porting from Another Language</p>
							<p>Rewriting programs with OpenCMISS.</p>
						</div>
					</a>
				</li>

			</ol>
		</div>
	</div>
	<div class="see-more">
		<a class="btn btn-default" href="#"> See all technical documentation... <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
	</div>

</section>

<section class="row doc-links" id="publications">
	<h2>Publications</h2>
	<p class="notice"><em>Documentation coming soon.</em></p>
</section>

<section class="row doc-links" id="developers">
	<h2>Developers Documentation</h2>
	<p>Visit the <a href="/developers.html">developers documentation page</a>.</p>
</section>


{% endblock %}
{% block styles %}
{{ super() }}
<!-- build:css(.tmp) /styles/doc.css -->
<link rel="stylesheet" href="/styles/doc.css">
<!-- endbuild -->
{% endblock %}
