{% extends 'partials/common_no_sidebar.jinja' %}
{% block content %}
<h1>Status</h1>
<h2>Ready for Feedback</h2>
<p>Here are a list of pages that are complete enough. Please take a look and give me feedback on its aesthetics, functionality, structure, and so on.</p>
<ul>
	<li> <a href="/downloads.html">Downloads</a></li>
	<li> CMISS Example Models: <a href="/examples/a/per_pixel_lighting/index.html">Per Pixel Lighting</a>, <a href="/examples/a/eye/index.html">Eye Model</a>, <a href="/examples/a/animate_jaw/index.html">Animate Jaw</a>
		<p> Note that this page has some Responsive features implemented. That is, sidebar is hidden and the content shrinks and grows in size depending on screen size.</p>
	</li>
	<li> <a href="/doc.html">Documentation</a> - some pages have now been converted to the new template.</li>
	<li> <a href="/getting-started.html">Getting Started index</a> - A page linked from on the front page.</li>
	<li> <a href="/community.html">Community</a></li>
	<li><a href="/about.html">About page</a></li>
</ul>


{% endblock %}
