[submodule "tutorials/zinc_evaluate_field"]
	path = tutorials/zinc_evaluate_field
	url = https://github.com/OpenCMISS-Examples/zinc_evaluate_field

[submodule "tutorials/zinc_view_graphics"]
	path = tutorials/zinc_view_graphics
	url = https://github.com/OpenCMISS-Examples/zinc_view_graphics
[submodule "_web/apidoc/LibZincDoxygen"]
	path = _web/apidoc/LibZincDoxygen
	url = https://github.com/alan-wu/LibZincDoxygen
[submodule "cmake"]
	path = cmake
	url = https://github.com/OpenCMISS/manage
