{% extends "partials/common_with_sidebar.jinja" %}
{% set active_nav = NAV_HEADINGS_FOR_CATEGORY[category.name] %}
{% block title %} {{article.title}} - OpenCMISS {% endblock %}
{% block sidebar_title %}
<h1>Latest {{article.category}}</h1>
{% endblock %}
{% block sidebar_content %}
<ul>
{% for cat,articles in categories %}
{% if cat == category %}
{% for a in articles[:10] %}
<li><a href="{{ SITEURL }}/{{a.url}}">{{a.title}}</a></li>
{% endfor %}
{% endif %}
	 {% endfor %}
</ul>
{% endblock %}

{% block content %}
<h1>{{article.category}}: {{article.title}}</h1>
<abbr class="published" title="{{article.date}}">{{article.locale_date}}</abbr>
<address class="vcard author">By <em>{{article.author}}</em>.</address>
{{article.content}}
{% endblock %}
