{% extends "partials/common_with_sidebar.jinja" %}
{% block title %} {{article.title}} - OpenCMISS {% endblock %}
{% block sidebar_title %}
<h1>Latest News</h1>
{% endblock %}
{% block sidebar_content %}
<ul>
{% for cat,articles in categories %}
{% for a in articles %}
<li><a href="{{a.url}}">{{a.title}}</a></li>
{% endfor %}
	 {% endfor %}
</ul>
{% endblock %}

{% block content %}
<h1>News: {{article.title}}</h1>
<abbr class="published" title="{{article.date}}">{{article.locale_date}}</abbr>
<address class="vcard author">By <em>{{article.author}}</em>.</address>
{{article.content}}
{% endblock %}
