{% extends "partials/releases.jinja" %}
{% set os_label = "Linux" %}
{% set os_value = "linux" %}
{% block main_release_buttons %}
	<a href="#" class="btn btn-default main disabled"><span class="glyphicon glyphicon-download" aria-hidden="true"></span>Ubuntu DEB 64-bit</a>
	<a href="#" class="btn btn-default disabled"><span class="glyphicon glyphicon-download" aria-hidden="true"></span>TAR.GZ 64-bit</a>
{% endblock %}
