{% extends "partials/downloads/feature.jinja"  %}
{% set sw_name = "PyZinc" %}
{% set src_info = source_code.pyzinc %}
{% block install_instructions %}
  {% if os_value == "windows" %}
    <p><em>Prerequisite</em>: Install the matching OpenCMISS-Zinc library (see above).</p>
    <ol>
      <li>Download and install Python 2.7/3.3. PyZinc on Windows is currently available for these two versions of Python only.</li>
      <li>You may have to add the Python installation directory onto your system PATH.</li>
      <li>Download the PyZinc Zip archive matching your Python version, above.</li>
      <li>Unzip the zip archive to a temporary directory.</li>
      <li>Open the command prompt, cd into the temporary directory, and execute the command <code>python setup.py install</code> (assuming the python executable is on the current path otherwise an absolute path to the python executable is required). This installs PyZinc as a Python module.</li>
      <li>For interactive applications with a Qt user interface, install PySide or PyQt, which should also install Qt. PySide (recommended) can be found <a href="http://qt-project.org/wiki/PySide_Binaries_Windows">here</a>.</li>
    </ol>
  {% endif %}
  {% if os_value == "mac" %}
    <p><em>Prerequisite</em>: Install the matching OpenCMISS-Zinc library (see above).</p>
    <ol>
      <li>Download and install Python 2.6/2.7. PyZinc on Mac OS X is currently available for these two versions of Python only.</li>
      <li>Download the PyZinc tar.gz archive matching your Python version, above.</li>
      <li>Untar the tar.gz archive to a temporary directory.</li>
      <li>Open the command prompt, cd into the temporary directory, and execute the command <code>python setup.py install</code>, which installs PyZinc as a Python module.</li>
      <li>For interactive applications with a Qt user interface, install PySide (or PyQt) along with Qt. PySide and Qt for Mavericks and Python2.7 can be found <a href="http://qt-project.org/wiki/PySide_Binaries_MacOSX">here</a>.</li>
    </ol>
  {% endif %}
  {% if os_value == "linux" %}
    <p><em>Prerequisite</em>: Install the matching OpenCMISS-Zinc library (see above).</p>
    <ol>
      <li>Download and install Python 2.6/2.7. PyZinc on Linux is currently available for these two versions of Python only.</li>
      <li>Download the PyZinc tar.gz archive matching your Python version, above.</li>
      <li>Untar the tar.gz archive to a temporary directory.</li>
      <li>Open the command prompt, cd into the temporary directory, and execute the command <code>python setup.py install</code> which installs PyZinc as a Python module.</li>
      <li>For interactive applications with a Qt user interface, install PySide (or PyQt) along with Qt e.g. using <code>apt-cache search ...</code> / <code>sudo apt-get install ...</code>.</li>
    </ol>
  {% endif %}
{% endblock %}

{% block description %}
  <p>PyZinc provides a python interface to the Zinc visualisation library.</p>
{% endblock %}
{% block helpful_links %}
  <ul class="list-unstyled">
    <li><a href="#">Getting Started guide</a></li>
    <li><a href="#">Tutorials</a></li>
    <li><a href="#">API reference</a></li>
    <li><a href="#">Contributing to PyZinc</a></li>
  </ul>
{% endblock %}
