{% extends "partials/downloads/feature.jinja"  %}
{% set logo_url = "images/download/opencmiss-exp.png" %}
{% set sw_name = "OpenCMISS-Zinc" %}
{% block install_instructions %}
  {% if os_value == "windows" %}
    <ol>
  <li><p>Download either the above installer (preferred) or zip archive.</p></li>
  <li><p>For the installer, run the exe; an install wizard will pop up, follow the steps and select ‘Add OpenCMISS-Zinc to the system PATH for all users’ (or add it manually for a single user as described below). For the zip archive, extract the contents of the archive where you want Zinc installed, and add its bin folder to the PATH environment variable for the current user (In Windows 7 this is under Control Panel|User Accounts|Change my environment variables).</p></li>
  <li><p>Microsoft Visual C++ Redistributable is also required for 64-bit Windows. It can be downloaded and installed from the following <a href="http://search.microsoft.com/en-us/DownloadResults.aspx?q=Microsoft+Visual+C%2b%2b+2010+SP1+Redistributable+Package">Microsoft page</a>.</p></li>
</ol>
{% endif %}
{% if os_value == "mac" %}
    <ol>
    <li><p>Download either the above dmg installer (preferred) or tar.gz archive.</p></li>
    <li><p>The dmg package will install the libZinc binaries into /usr/local/lib and the system should now be able to locate the libZinc library. For the tar.gz archive: manually extract to the desired installation location and add location to system path.</p></li>
  </ol>
{% endif %}
{% if os_value == "linux" %}
  <ol>
	<li>Download either the debian package (preferred) or tar.gz archive.</li>
	<li>The debian package can be installed with the following command line: <code>sudo dpkg -i OpenCMISS-Zinc*.deb</code>.</li>
	<li>After installation, run <code>sudo ldconfig</code> to update the libraries database.</li>
</ol>
{% endif %}
{% endblock %}

{% block description %}
  <p>OpenCMISS-Zinc is the visualisation component of the OpenCMISS software package.</p>
<p>A library providing a rich, dynamic model representation in its API, incorporating images and image processing, high quality 3-D visualisation, interactive tools and more.</p>
{% endblock %}
{% block helpful_links %}
  <ul class="list-unstyled">
    <li><a href="/getting-started.html">Getting Started guide</a></li>
    <li><a href="/doc.html#tutorials">Tutorials</a></li>
    <li><a href="/doc.html#technical">API reference</a></li>
    <li><a href="/developers.html">Contributing to OpenCMISS</a></li>
  </ul>
{% endblock %}
