$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// Colours
$physiome-red: #d11241;
$cmiss-blue: #3366ff;
$darker-blue: #103bb5;
$main-blue: #3D63D5;
$title-blue: #3554B3;
$darker-red: #7a0b27;
$border-grey: #e5e5e5;
// Font size
$font-size-base: 14px;

// Widths
$content-width: 900px;

$header-height: 161px + 49px; // Adding 49px for beta notice, remove when out of beta!
