@import "bootstrap-sass-official/assets/stylesheets/bootstrap/variables";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/mixins";

.project-list {
	text-align: center;
	font-size:1.3em;
	padding:10px 0px;
}

.doc-links {
	margin:0px;
	padding-top: 20px;
	padding-bottom:20px;

	li {
		padding-top: 5px;
		@include clearfix();
	}

	a {
		font-size: 1.2em;
	}

}


.see-more {

	padding-top:10px;

	a {
		float:right;
		border-color: #C1D0FF;
		background-color:white;
		color: #3366ff;
		font-size: 1.3em;
	}
}

.media-item {

	& > div {
		display:table-cell;
	}

	.title {
		font-size:1.2em;
	}

	.description p {
		font-size: 12px;
		&.name {
			font-size:inherit;
		}
	}
}

.notice {
	font-size:1.3em;
}

.links-wrapper {
	@include clearfix();
}
