@import "bootstrap-sass-official/assets/stylesheets/bootstrap/variables";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/mixins";
@import "components";

.project-list {
	text-align: center;
	font-size:1.3em;
	padding:10px 0px;
}

.doc-links {
	padding-top: 10px;
	padding-bottom: 10px;
	@include content-row();
	li {
		padding-top: 5px;
		@include clearfix();
	}
}


.see-more {
	float:right;
	font-size:0.7em;
	font-weight:normal;
}

.see-more-btm {
	text-align: center;
	margin-top: 5px;
	a {
		@include btn-link;
		font-size:1em;
	}
}

.media-item {

	& > div {
		display:table-cell;
	}

	.title {
		font-size:1.1em;
	}

}

.notice {
	font-size:1.3em;
}

.links-wrapper {
	@include clearfix();
}
