.striped {
	background: #fafafa;
}

.platform-form {
	label {
		padding-right:5px;
	}
}

h1 {
	margin-bottom:40px;
	margin-top: -17px;
}

.download-list {
	.infobox {
		.title-section {
			background-color:rgb(234, 234, 234);
		}
	}
}

.info-row {
	display:table;
	& > div {
		height: 100%;
		display:table-cell;
	}
}

.download-list .row {
	padding: 20px 0px;
}
.platform-form {
}


.extras {
	margin-top:10px;
}

.extras {
	.row {
		padding: 0px;
	}

	.items-section {
		ol, ul {
			line-height: 1.7em;
		}
	}

	.sidebar {
		h4 {
			text-align:center;
		}
		background-color: #f2f2f2;
		padding: 5px;
	}
}


.helpful-links,.source-code {
	text-align:center;
}

.source-code .download-box {
	margin-top: 10px;
}

.download-box {
	.btn {
		font-size:1em;
	}
}

.versions-list .format-list {
	.name {
		margin-right: 10px;
	}

	a {
		margin-right:10px;
	}
}

.stable-release {
	.release-box {
		text-align:center;
		padding:30px 0px;
		background-color: #fafafa;
	}
}

.dev-release {
	margin-top:10px;
}

.package-box {
	padding:10px;
	img.icon {
		max-width: 85px;
		float:left;
		margin-right:20px;
	}
	.inner {
		padding:10px;
		background: #fafafa;
		h3 {
			margin-top:10px;
		}
	}
}

.pkg-dialog {
	.tab-pane {
		padding:10px;
	}
}

.featured-pkg {
	.inner {
		padding: 35px 10px;
	}
}
