.project-illustration {
	height:150px;
	margin-top:30px;
	img {
		max-width:195px;
	}
}

.projects {
	text-align:center;
	padding-top: 50px;
	padding-bottom:150px;
}

.description {
	height: 90px;
}

p {
	font-size: 1.2em;
}
