{% extends 'partials/common_with_sidebar.jinja' %}
{% set active_nav = "community" %}
{% block title %}OpenCMISS Community{% endblock %}
{% block sidebar_title %}<h1>Table of Contents</h1>{% endblock %}
{% block sidebar_content %}
<ul>
	<li><a href="#news">News and Updates</a></li>
	<li><a href="#mailinglist">Mailing List</a></li>
	<li><a href="#bugtracker">Bug Tracker</a></li>
	<li><a href="#contributors">Contributors</a></li>
</ul>
{% endblock %}
{% block content %}
<h1>Community</h1>
<p>Find out more about the people behind the OpenCMISS project. Learn how to participate, file a bug report or make feature request.</p>

<h2 id="news">News and Updates</h2>
<p>Visit the <a href="/news/">News page</a> to find the latest announcements from the OpenCMISS project developers.</p>
<p> View the <a href="/minutes/">minutes</a> of regular OpenCMISS meetings held at the Auckland Bioengineering Institute.</p>
<h2  id="mailinglist">Mailing List</h2>
<p>Two mailing lists are set up, one for user support queries and one for developers working on OpenCMISS.</p>
<div class="row">
	<div class="col-sm-12">
		<h3>Users Support</h3>
		<p class="accent"><a href="mailto:users@opencmiss.org">users@opencmiss.org</a> (<a class="title-link" href="https://list.opencmiss.org/sympa/arc/users">View Archive</a> |  <a class="title-link" href="https://list.opencmiss.org/sympa/subscribe/users">Subscribe</a>)</p>
		<p>User issues and questions about any OpenCMISS software can be e-mailed to the above mailing list address for developers and other users to respond to.</p>
		<p>We invite anyone to subscribe to the OpenCMISS users mailing list by clicking on ‘Subscribe’ link above. Once subscribed you will receive any future questions from users and announcements from the developers, and can respond to them as part of the OpenCMISS community.</p>
		<p>Please help us by using a descriptive message subject which summarises the issue or question, and also states the software component (Iron, Zinc, Cmgui etc.) and operating system, if the issue is specific to one.</p>

		<p>When the archive is more established we ask you to first look for your issue there.</p>
	</div>
	<div class="col-sm-12">
		<h3>Developers</h3>
		<p class="accent"><a href="mailto:developers@opencmiss.org">developers@opencmiss.org</a> (<a class="title-link" href="https://list.opencmiss.org/sympa/arc/developers">View Archive</a> |  <a class="title-link" href="https://list.opencmiss.org/sympa/subscribe/developers">Subscribe</a>)</p>
		<p>If you intend to extend or contribute to the OpenCMISS codebase, you can subscribe to the OpenCMISS Developers mailing list using the above link. Once subscribed you will receive future developer notifications and exchanges and be able to take part by mailing the developer list at above address.</p>
	</div>
</div>
<h2  id="bugtracker">Bug tracker</h2>
<p> The bug tracker is where we track bugs, new features, design ideas and occasionally user queries. We only ever add code changes for items in the tracker.</p>
<p class="accent"><a href="https://tracker.physiomeproject.org/buglist.cgi?query_format=advanced&bug_status=NEW&bug_status=ASSIGNED&bug_status=REOPENED&product=Zinc%20library">OpenCMISS-Zinc Tracker (including PyZinc)</a></p>
<p class="accent"><a href="https://tracker.physiomeproject.org/buglist.cgi?query_format=advanced&bug_status=NEW&bug_status=ASSIGNED&bug_status=REOPENED&product=OpenCMISS-Iron">OpenCMISS-Iron Tracker (including PyIron)</a></p>

<p><em>Typically we ask users to first send issues and feature requests to the Users mailing list (see above)</em> from which the developers will raise tracker items. However, feel free to search the tracker for issues and features that might be relevant to you. By creating an account on the tracker you can add your feedback to an existing issue. We stongly encourage users to add their interest in getting a feature or bug fix completed by posting to and CCing to the item: this helps us to increase the priority with which they are looked into.</p>

<h2  id="contributors">Contributors</h2>
<p>A complete list of past and current contributors can be found in the <a href="/about.html#contributors">About page</a>.</p>


{% endblock %}
{% block styles %}
{{ super() }}
<!-- build:css(.tmp) /styles/community.css -->
<link rel="stylesheet" href="/styles/community.css">
<!-- endbuild -->
{% endblock %}
