{% extends 'partials/common_no_sidebar.jinja' %}
{% block title %}OpenCMISS Developers Documentation{% endblock %}
{% block content %}
<h1>Developers Documentation</h1>
<p>Documentation on extending OpenCMISS software packages and working with its codebase.</p>
<div class="row row-content">
	<div class="col-sm-6 media-item">
		<a href="/underconstruction.html">
			<div class="description">
				<p class="name">Code Style</p>
				<p>Code style guidelines for OpenCMISS projects.</p>
			</div>
		</a>
	</div>
	<div class="col-sm-6 media-item">
		<a href="/community.html#bugtracker">
			<div class="description">
				<p class="name">Bug Tracker</p>
				<p>Find out how to use the bug tracking system.</p>
			</div>
		</a>
	</div>
	<div class="col-sm-6 media-item">
		<a href="/underconstruction.html">
			<div class="description">
				<p class="name">Notes on Reporting Bugs</p>
				<p>Helpful tips on making better bug reports.</p>
			</div>
		</a>
	</div>
	<div class="col-sm-6 media-item">
		<a href="/underconstruction.html">
			<div class="description">
				<p class="name">Build and Test System Notes</p>
				<p>Notes on how the continuous integration system is setup.</p>
			</div>
		</a>
	</div>
	<div class="col-sm-6 media-item">
		<a href="/underconstruction.html">
			<div class="description">
				<p class="name">Development Process</p>
				<p>Workflow for proposing and accepting changes in OpenCMISS.</p>
			</div>
		</a>
	</div>
	<div class="col-sm-6 media-item">
		<a href="/community.html#contributors">
			<div class="description">
				<p class="name">Contributors List</p>
				<p>View a list of current and past contributors.</p>
			</div>
		</a>
	</div>

	<div class="col-sm-6 media-item">
		<a href="/community.html#mailinglist">
			<div class="description">
				<p class="name">Mailing List</p>
				<p>Ask questions, make requests and interact with other OpenCMISS users and developers.</p>
			</div>
		</a>
	</div>
	<div class="col-sm-6 media-item">
		<a href="/underconstruction.html">
			<div class="description">
				<p class="name">Setting up development environment for OpenCMISS-Zinc</p>
				<p>Set up the developer environment for OpenCMISS-Zinc.</p>
			</div>
		</a>
	</div>
		<div class="col-sm-6 media-item">
		<a href="/underconstruction.html">
			<div class="description">
				<p class="name">Setting up development environment for OpenCMISS-Iron</p>
				<p>Set up the developer environment for OpenCMISS-Iron.</p>
			</div>
		</a>
	</div>

	<div class="col-sm-6 media-item">
		<a href="/underconstruction.html">
			<div class="description">
				<p class="name">Licensing and CLA</p>
				<p>View OpenCMISS policies on licensing and Contributor Licensing Agreement.</p>
			</div>
		</a>
	</div>
	<div class="col-sm-6 media-item">
		<a href="/underconstruction.html">
			<div class="description">
				<p class="name">Dependencies</p>
				<p>Other software and libraries OpenCMISS depends on.</p>
			</div>
		</a>
	</div>
	<div class="col-sm-6 media-item">
		<a href="/underconstruction.html">
			<div class="description">
				<p class="name">Repository Plan</p>
				<p>The plan for organising OpenCMISS source code by repository.</p>
			</div>
		</a>
	</div>
	<div class="col-sm-6 media-item">
		<a href="https://svn.physiomeproject.org/svn/cmiss/zinc/library/">
			<div class="description">
				<p class="name">Browse OpenCMISS-Zinc Source</p>
				<p>View the source for OpenCMISS-Zinc.</p>
			</div>
		</a>
	</div>
	<div class="col-sm-6 media-item">
		<a href="/underconstruction.html">
			<div class="description">
				<p class="name">OpenCMISS-Iron Developer API Reference</p>
				<p>Developer documentation of the Iron library interface.</p>
			</div>
		</a>
	</div>
	<div class="col-sm-6 media-item">
		<a href="/underconstruction.html">
			<div class="description">
				<p class="name">Resources for Learning Fortran</p>
				<p>Resources and links for learning the Fortran programming language.</p>
			</div>
		</a>
	</div>
	<div class="col-sm-6 media-item">
		<a href="/underconstruction.html">
			<div class="description">
				<p class="name">Browse OpenCMISS-Iron Source</p>
				<p>View the source for OpenCMISS-Iron.</p>
			</div>
		</a>
	</div>


</div>
{% endblock %}
