{% extends 'partials/common_with_sidebar.jinja' %}
{% set active_nav = "doc" %}
{% block title %}
  OpenCMISS Documentation
{% endblock %}
{% block sidebar_title %} <h1>Documentation Content</h1> {% endblock %}
{% block sidebar_content %}
<ul>
	<li><a href="#introduction">Introduction</a></li>
	<li><a href="#tutorials">Tutorials</a></li>
	<li><a href="#examples">Examples</a></li>
	<li><a href="#technical">Technical Documentation</a></li>
	<li><a href="#developers">Extending OpenCMISS</a></li>
</ul>
{% endblock %}
{% block content %}
<h1>Documentation</h1>
<p>Documentation on using OpenCMISS software packages to model and visualise.</p>

<section class="row doc-links" id="introduction">
	<h2>Introduction</h2>
	<div class="row-padded">
		<div class="col-sm-6 media-item">
			<a href="/about.html">
				<div class="description">
					<p class="name">Introductory overview</p>
					<p>Sets out what OpenCMISS is.</p>
				</div>
			</a>
		</div>

		<div class="col-sm-6 media-item">
			<a href="/getting-started.html">
				<div class="description">
					<p class="name">Getting Started</p>
					<p>Guide on installing, configuring and using OpenCMISS.</p>
				</div>
			</a>
		</div>
	</div>
	<div class="row-padded">
		<div class="col-sm-6 media-item">
			<a href="/downloads.html">
				<div class="description">
					<p class="name">Installing OpenCMISS</p>
					<p>Links for downloading and installing OpenCMISS software.</p>
				</div>
			</a>
		</div>
		<div class="col-sm-6 media-item">
			<a href="/documentation/cmake/docs">
				<div class="description">
					<p class="name">Building OpenCMISS</p>
					<p>Instructions on how to build OpenCMISS from source.</p>
				</div>
			</a>
		</div>
	</div>

</section>
<section class="row doc-links" id="tutorials">
	<h2>Tutorials <a href="/documentation/tutorials/index.html" class="see-more">See all tutorials</a></h2>
<div class="row-padded">
	<div class="media-item col-sm-6">
		<a href="/documentation/tutorials/zinc_evaluate_field/">
			<div class="description">
				<p class="name">Load A Model And Evaluate A Field</p>
				<p>This example opens a model and evaluates and prints values of a field in each element of it.</p>
			</div>
		</a>
	</div>
	<div class="media-item col-sm-6">
		<a href="/documentation/tutorials/zinc_view_graphics/">
			<div class="description"><p class="name">Create and View Graphics</p>
				<p>This example shows how to create basic graphics to visualise models, and how to view them interactively in a window.</p></div>
		</a>
	</div>
</div>
<p class="see-more-btm"><a class="btn btn-link" href="/documentation/tutorials/index.html"> See all tutorials...</a></p>
</section>
<section class="row doc-links" id="examples">
	<h2>Examples</h2>
	<p>Scripts that solve a particular problem, contributed by developers and users of OpenCMISS.</p>
	<div class="row-padded">
		<div class="col-sm-6 media-item">
			<a href="http://cmiss.bioeng.auckland.ac.nz/development/examples/a/index_thumbs.html">
				<div class="description">
					<p class="name">Cmgui Examples</p>
					<p>These examples were created for Cmgui, a predecessor to OpenCMISS-Zinc.</p>
				</div>
			</a>
		</div>
		<div class="col-sm-6 media-item">
			<img src="/assets/documentation/physiomemodeller.png">
			<div class="description">
				<p><span class="title">Gallery</span> (<em>Coming soon</em>)</p>
				<p>See applications created with OpenCMISS-Zinc.</p>
			</div>
		</div>
	</div>

</section>
<section class="doc-links" id="technical">
	<h2>Technical Documentation</h2>
	<p>Documentation about the technical aspects of OpenCMISS software and libraries.</p>
	<h3>User Guides</h3>
	<div class="row-padded">
		<div class="media-item col-sm-6">
			<a href="/documentation/zinc/index.html">
				<div class="description"><p class="name">Zinc Library Documentation</p>
					<p>Documentation on using the OpenCMISS-Zinc Library.</p>
				</div>
			</a>
		</div>
	</div>

	<h3>Reference</h3>
	<div class="row-padded">
		<div class="media-item col-sm-6">
			<a href="/apidoc/zinc/latest/index.html">
				<div class="description"><p class="name">Zinc API Reference</p>
					<p>OpenCMISS-Zinc Library Application Programming Interface Reference.</p>
				</div>
			</a>
		</div>
		<div class="media-item col-sm-6">
			<a href="http://cmiss.bioeng.auckland.ac.nz/OpenCMISS/doc/user/">
				<div class="description"><p class="name">Iron API Reference</p>
					<p>User documentation of the Iron library interface.</p>
				</div>
			</a>
		</div>
	</div>
	<div class="row-padded">
		<div class="media-item col-sm-6">
			<a href="http://cmiss.bioeng.auckland.ac.nz/OpenCMISS/doc/python/">
				<div class="description"><p class="name">Iron Python Bindings API Reference</p>
					<p>User documentation of the Iron Python bindings interface.</p>
				</div>
			</a>
		</div>
		<div class="media-item col-sm-6">
			<a href="/documentation/data_format/index.html">
				<div class="description"><p class="name">Data Formats</p>
					<p>Data formats supported by OpenCMISS software.</p>
				</div>
			</a>
		</div>
	</div>
	<div class="row-padded">
		<div class="media-item col-sm-6">
			<a href="documentation/cmake/docs/techdocs">
				<div class="description"><p class="name">OpenCMISS Build Environment</p>
					<p>Technical documentation for the OpenCMISS Build Environment.</p>
				</div>
			</a>
		</div>
	</div>
</section>

<section class="row doc-links" id="developers">
	<h2>Extending OpenCMISS</h2>
	<p>Want to contribute to OpenCMISS projects? Visit the <a href="/developers.html">developers documentation page</a>.</p>
</section>


{% endblock %}
{% block styles %}
{{ super() }}
<!-- build:css(.tmp) /styles/doc.css -->
<link rel="stylesheet" href="/styles/doc.css">
<!-- endbuild -->
{% endblock %}
